<% provide(:title, 'Sign In') %>

<h1>Sign In</h1>

<p>We are in closed beta.  If you have an account with us, please log in below.</p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <!--
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    -->
  </div>
</div>