<% provide(:title, 'Edit Account') %>

<h1>Update <%= @user.name %>'s Profile</h1>

<div class="container-fluid">
  <div class="row">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<br>
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
		<br>
		<%= f.label :email %>
		<%= f.text_field :email, class: "form-control" %>
		<br>
		<%= f.label :password %>
		<%= f.password_field :password, class: "form-control" %>
		<br>
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
		<br>
		<%= f.submit "Save changes", class: "btn btn-primary" %>
	<% end %>
  </div>
</div>

<!--
<div class="container-fluid">
  <div class="row">
	<div class="gravatar_edit">
      <br><%= gravatar_for @user %></br>
      <a href="http://gravatar.com/emails">Click here to change your user image.</a>
    </div>
  </div>
</div>
-->