<header>
	<nav class="nav navbar-nav navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container-fluid">
			<%= link_to "Simple IP", root_path, id: "logo" %>

			<ul class="nav navbar-nav navbar-right" role="menu">
				<li role="presentation"><%= link_to "Home", root_path %></li>
				<li role="presentation"><%= link_to "FAQ", faq_path %></li>
				<% if signed_in? %>
					<li><%= link_to "Users", '#' %></li>
					<!-- dropdown needs to be fixed
					<div class="nav navbar-nav">

					<li class="dropdown" id="dropdownMenu1" data-toggle="dropdown">
						<a href="#">
						Account <b class="caret"></b>
              			</a>
            		<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
            		-->
                		<li role="presentation"><%= link_to "Profile", current_user %></li>
                		<li role="presentation"><%= link_to "Settings", '#' %></li>
                		<li role="presentation" class="divider"></li>
                		<li role="presentation">
                  			<%= link_to "Sign out", signout_path, method: "delete" %>
                		</li>
              		</ul>
            		</li>
          		<% else %>
            		<li role="presentation"><%= link_to "Sign in", sign_in_path %></li>
          		<% end %>
        	</ul>
      	</div>
	</nav>
</header>